/* line 1, E:/Mary/html/landing/First-landing/scss/_base.scss */
html, body {
  font-family: 'Montserrat', sans-serif;
}

/* line 5, E:/Mary/html/landing/First-landing/scss/_base.scss */
.active-color {
  color: #18cfab;
}

/* line 10, E:/Mary/html/landing/First-landing/scss/_base.scss */
h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #717171;
}

@media (max-width: 992px) {
  /* line 10, E:/Mary/html/landing/First-landing/scss/_base.scss */
  h3 {
    font-size: 14px;
  }
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_base.scss */
h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  /* line 20, E:/Mary/html/landing/First-landing/scss/_base.scss */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

/* line 31, E:/Mary/html/landing/First-landing/scss/_base.scss */
.box {
  width: 25%;
  min-height: 365px;
  text-align: center;
}

@media (max-width: 992px) {
  /* line 31, E:/Mary/html/landing/First-landing/scss/_base.scss */
  .box {
    width: 50%;
    min-height: 200px;
  }
}

/* line 41, E:/Mary/html/landing/First-landing/scss/_base.scss */
.btn {
  font-size: 13px;
  min-width: 165px;
  border: none;
  border-top: 4px solid #ffffff !important;
  background-color: #18cfab;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 16px;
}

/* line 50, E:/Mary/html/landing/First-landing/scss/_base.scss */
.btn:hover {
  background-color: #108a72;
}

@media (max-width: 576px) {
  /* line 41, E:/Mary/html/landing/First-landing/scss/_base.scss */
  .btn {
    font-size: 10px;
    min-width: 120px;
    border: none;
    border-top: 4px solid #ffffff !important;
    background-color: #18cfab;
    color: #ffffff;
    padding-bottom: 14px;
    padding-top: 8px;
  }
}

@media (max-width: 992px) {
  /* line 41, E:/Mary/html/landing/First-landing/scss/_base.scss */
  .btn {
    font-size: 13px;
    min-width: 120px;
    border: none;
    border-top: 4px solid #ffffff !important;
    background-color: #18cfab;
    color: #ffffff;
    padding-bottom: 14px;
    padding-top: 8px;
  }
}

/* line 75, E:/Mary/html/landing/First-landing/scss/_base.scss */
.btn.btn-secondary {
  font-size: 13px;
  background-color: #00cbf6;
  color: #ffffff;
}

/* line 79, E:/Mary/html/landing/First-landing/scss/_base.scss */
.btn.btn-secondary:hover {
  background-color: #008caa;
}

/* line 85, E:/Mary/html/landing/First-landing/scss/_base.scss */
hr {
  background-image: url(../img/double-line.png);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 5px;
  margin-bottom: 65px;
  border: none;
}

@media (max-width: 992px) {
  /* line 85, E:/Mary/html/landing/First-landing/scss/_base.scss */
  hr {
    margin-bottom: 30px;
  }
}

/* line 98, E:/Mary/html/landing/First-landing/scss/_base.scss */
.styled-list {
  list-style: none;
}

/* line 100, E:/Mary/html/landing/First-landing/scss/_base.scss */
.styled-list li {
  position: relative;
}

/* line 102, E:/Mary/html/landing/First-landing/scss/_base.scss */
.styled-list li:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: -40px;
  margin: auto;
  height: 24px;
  width: 24px;
  background-image: url("../img/bird-design.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr {
  background-color: rgba(39, 39, 37, 0.8);
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
}

/* line 9, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr .set-height {
  height: 120px;
}

@media (max-width: 992px) {
  /* line 9, E:/Mary/html/landing/First-landing/scss/_header.scss */
  .hdr .set-height {
    height: 70px;
  }
  /* line 13, E:/Mary/html/landing/First-landing/scss/_header.scss */
  .hdr .set-height .hidden-md {
    display: none;
  }
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr_nav_item {
  margin: 0 15px 0 0;
  padding: 0;
  color: #b8b8b8;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 27, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr_nav_item:last-child {
  margin-right: 0;
}

/* line 30, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr_nav_item:hover {
  cursor: pointer;
  color: #18cfab;
  text-decoration: none;
}

/* line 35, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr_nav_item.active {
  color: #18cfab;
  position: relative;
}

/* line 38, E:/Mary/html/landing/First-landing/scss/_header.scss */
.hdr_nav_item.active:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -52px;
  height: 2px;
  background-color: #18cfab;
  display: block;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.first-screen {
  background-image: url("../img/first_screen_bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 120px;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .first-screen {
    padding-top: 70px;
  }
}

/* line 11, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.first-screen h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 74px;
  font-weight: bold;
}

@media (max-width: 992px) {
  /* line 11, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .first-screen h1 {
    font-size: 32px;
  }
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.first-screen .top-screen {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
}

@media (max-width: 992px) {
  /* line 20, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .first-screen .top-screen {
    font-size: 18px;
  }
}

/* line 28, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.first-screen .bottom-screen {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 29px;
}

@media (max-width: 576px) {
  /* line 28, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .first-screen .bottom-screen {
    font-size: 16px;
  }
}

/* line 37, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.first-screen .buttons {
  font-size: 0;
}

/* line 39, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.first-screen .buttons .btn {
  margin: 0 15px;
}

@media (max-width: 992px) {
  /* line 39, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .first-screen .buttons .btn {
    margin-bottom: 10px;
  }
}

/* line 48, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features {
  width: 100%;
}

@media (max-width: 992px) {
  /* line 48, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .company-features {
    display: flex;
    flex-wrap: wrap;
  }
}

/* line 54, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features .box {
  padding: 230px 15px 60px 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-top: 4px solid #18cfab;
  color: #18cfab;
  background-color: #1c2a33;
  background-repeat: no-repeat;
  background-position: center 110px;
}

/* line 65, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features .box:nth-child(even) {
  background-color: #18cfab;
  border-color: #ffffff;
  color: #ffffff;
}

/* line 70, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features .box:nth-child(1) {
  background-image: url("../img/feature-1.png");
}

/* line 73, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features .box:nth-child(2) {
  background-image: url("../img/feature-2.png");
}

/* line 76, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features .box:nth-child(3) {
  background-image: url("../img/feature-3.png");
}

/* line 79, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
.company-features .box:nth-child(4) {
  background-image: url("../img/feature-4.png");
}

@media (max-width: 992px) {
  /* line 54, E:/Mary/html/landing/First-landing/scss/_first-screen.scss */
  .company-features .box {
    padding: 230px 15px 60px 15px;
    font-size: 16px;
  }
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.amazing-features {
  padding-top: 120px;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
  .amazing-features {
    padding: 70px 0 50px 0;
  }
}

/* line 6, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.amazing-features h2 {
  color: #4e4e4e;
}

/* line 11, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.feature {
  margin-bottom: 75px;
}

@media (max-width: 992px) {
  /* line 11, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
  .feature {
    margin-bottom: 30px;
  }
}

/* line 16, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.feature_desc {
  text-align: justify;
}

@media (max-width: 992px) {
  /* line 16, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
  .feature_desc {
    font-size: 15px;
  }
}

/* line 22, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.feature_top-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* line 27, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.feature_icon {
  float: left;
}

/* line 30, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.feature_title {
  margin: 0 0 0 20px;
}

/* line 32, E:/Mary/html/landing/First-landing/scss/_amazing-features.scss */
.feature_title:hover {
  color: #18cfab;
  cursor: default;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.about-our-company {
  background-color: #090f14;
  width: 100%;
  padding: 120px 0 100px 0;
}

@media (max-width: 768px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
  .about-our-company {
    padding: 70px 0 50px 0;
  }
  /* line 7, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
  .about-our-company .company_tabs-captions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 11, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
  .about-our-company .company_tabs-captions .caption {
    float: none;
    flex-grow: 0;
  }
  /* line 14, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
  .about-our-company .company_tabs-captions .caption:nth-child(2) {
    margin-left: 25px;
  }
  /* line 17, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
  .about-our-company .company_tabs-captions .caption:last-child {
    margin-left: 50px;
  }
}

/* line 23, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.about-our-company h2 {
  color: #ffffff;
  text-transform: capitalize;
}

/* line 32, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs-captions {
  padding-left: 15px;
  margin-bottom: 70px;
}

/* line 35, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs-captions .caption {
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-top: 3px solid transparent;
}

/* line 43, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs-captions .caption.current {
  color: #18cfab;
  border-color: #18cfab;
}

/* line 47, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs-captions .caption:not(:last-child) {
  margin-right: 28px;
}

/* line 53, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs_content {
  display: none;
  color: #aeaeae;
}

/* line 56, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs_content p {
  margin-bottom: 50px;
}

/* line 59, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs_content.current {
  display: inherit;
}

/* line 62, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs_content_pseudodiagram {
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 69, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.company_tabs_content ul li {
  font-size: 14px;
  font-weight: lighter;
  text-transform: capitalize;
  color: #aeaeae;
  margin-bottom: 10px;
}

/* line 82, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.dia {
  height: 40px;
  border: 1px solid #959595;
  border-radius: 4px;
  margin-bottom: 15px;
  color: #ffffff;
}

/* line 90, E:/Mary/html/landing/First-landing/scss/_about-our-company.scss */
.dia-bg {
  height: 100%;
  padding-left: 18px;
  display: flex;
  align-items: center;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work {
  background-color: #f8fcfe;
  padding: 120px 0 100px 0;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work {
    padding: 50px 0;
  }
  /* line 6, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work .pfo_card {
    width: 50%;
  }
}

/* line 10, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work._title {
  margin-bottom: 25px;
}

/* line 12, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work._title h2 {
  text-transform: capitalize;
}

/* line 17, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .tab {
  margin-bottom: 92px;
}

@media (max-width: 992px) {
  /* line 17, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work .tab {
    margin-bottom: 40px;
  }
}

/* line 22, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .tab .tablinks {
  height: 58px;
  min-width: 74px;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  background-color: #f8fcfe;
}

@media (max-width: 992px) {
  /* line 22, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work .tab .tablinks {
    height: 40px;
    font-size: 12px;
  }
}

/* line 32, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .tab .tablinks.active {
  border-top: 2px solid #18cfab;
}

/* line 38, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .works {
  width: 100%;
  margin-bottom: 70px;
}

@media (max-width: 992px) {
  /* line 38, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work .works {
    margin-bottom: 40px;
  }
}

/* line 44, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .works .work {
  height: 208px;
  width: 25%;
  overflow: hidden;
  position: relative;
  padding-top: 50%;
}

/* line 50, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .works .work img {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  /* line 44, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work .works .work {
    height: 150px;
    width: 50%;
  }
}

@media (max-width: 576px) {
  /* line 44, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
  .our-amazing-work .works .work {
    width: 100%;
  }
}

/* line 70, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .works .work:hover {
  background-color: #ffffff !important;
  cursor: pointer;
  box-shadow: 0px -4px 0px 0px rgba(8, 245, 233, 0.59);
}

/* line 78, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.our-amazing-work .btn-work {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 85, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo {
  margin-bottom: 40px;
}

/* line 87, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card {
  float: left;
  width: 25%;
  position: relative;
}

/* line 91, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_img {
  padding-top: 73.4254%;
  position: relative;
  overflow: hidden;
}

/* line 95, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_img img {
  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 210px;
}

/* line 107, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_hover-box {
  display: none;
  background: #ffffff;
  border-top: 4px solid #18cfab;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* line 124, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card:hover .pfo_card_hover-box {
  display: flex;
}

/* line 129, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

/* line 133, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #18cfab;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 140, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon:hover {
  background-color: #18cfab;
}

/* line 143, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon:not(:last-child) {
  margin-right: 5px;
}

/* line 147, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon-share {
  background-image: url("../img/icon-share.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 151, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon-share:hover {
  background-image: url("../img/icon-share-active.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 158, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon-search {
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 162, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_icons .icon-search:hover {
  background-image: url("../img/icon-search-active.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 169, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_title {
  text-align: center;
  color: #18cfab;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 177, E:/Mary/html/landing/First-landing/scss/_our-amazing-work.scss */
.pfo_card_category {
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
.our-services {
  padding: 120px 0 100px 0;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
  .our-services {
    padding: 70px 0 50px 0;
  }
}

/* line 7, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
.our-services h2 {
  text-transform: capitalize;
  color: #4e4e4e;
}

/* line 12, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
.our-services .tab {
  margin-bottom: 26px;
  flex-wrap: nowrap;
}

@media (max-width: 992px) {
  /* line 12, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
  .our-services .tab {
    display: flex;
    flex-wrap: wrap;
  }
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
.our-services .tab .tablinks {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 72px;
  width: 16.666%;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  background-color: #f8fcfe;
  text-align: center;
  padding: 20px 15px;
}

@media (max-width: 576px) {
  /* line 20, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
  .our-services .tab .tablinks {
    width: 33.333%;
    padding: 14px 10px;
    min-height: 50px;
    margin-bottom: 10px;
  }
}

/* line 37, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
.our-services .tab .tablinks:hover {
  background-color: #18cfab;
  color: #ffffff;
  cursor: pointer;
}

/* line 45, E:/Mary/html/landing/First-landing/scss/_our-services.scss */
.our-services .description {
  text-align: justify;
  padding: 0 12px 0 30px;
  line-height: 20px;
  color: #777777;
  font-size: 13px;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
.everything-is-ready {
  background-color: #40474b;
  width: 100%;
  padding: 120px 0 128px 0;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
  .everything-is-ready {
    padding: 70px 0 50px 0;
  }
}

/* line 9, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
.everything-is-ready h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  color: #18cfab;
  margin-bottom: 35px;
}

@media (max-width: 992px) {
  /* line 9, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
  .everything-is-ready h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
.everything-is-ready h4 {
  font-size: 16px;
  color: #c8c9c9;
  text-align: center;
  margin-bottom: 76px;
}

@media (max-width: 992px) {
  /* line 20, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
  .everything-is-ready h4 {
    font-size: 15px;
    margin-bottom: 35px;
  }
}

/* line 31, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
.everything-is-ready .btn-company {
  height: 60px;
  border-top: 6px;
  cursor: pointer;
}

@media (max-width: 992px) {
  /* line 31, E:/Mary/html/landing/First-landing/scss/_everything-is-ready.scss */
  .everything-is-ready .btn-company {
    height: 45px;
  }
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.breaking-news {
  padding-top: 120px;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .breaking-news {
    padding-top: 50px;
  }
  /* line 5, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .breaking-news .news_post {
    min-height: 200px;
  }
  /* line 7, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .breaking-news .news_post-description {
    padding: 10px 12px 8px 12px;
  }
  /* line 10, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .breaking-news .news_post-info {
    font-size: 12px;
  }
  /* line 14, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .breaking-news .fun-fact {
    flex-wrap: wrap;
  }
  /* line 17, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .breaking-news .number {
    font-size: 25px;
  }
}

/* line 22, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.breaking-news h2 {
  text-transform: capitalize;
  color: #4e4e4e;
}

/* line 29, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

/* line 34, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post {
  margin-bottom: 30px;
}

/* line 36, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post:hover {
  cursor: pointer;
}

/* line 38, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post:hover h3 {
  color: #18cfab;
}

/* line 41, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post:hover .news_post_box_date {
  background-color: #18cfab;
}

/* line 46, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post-description {
  background-color: #f8fcfe;
  min-height: 70px;
  color: #717171;
  padding: 14px 16px 10px 16px;
}

/* line 52, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post-description h3 {
  margin-bottom: 15px;
}

/* line 56, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post-info {
  color: #777777;
  font-size: 14px;
}

/* line 61, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post-info .author {
  display: inline-block;
  float: left;
}

/* line 64, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post-info .author:not(:last-child) {
  padding-right: 18px;
  margin-right: 18px;
  border-right: 1px solid #777777;
}

/* line 72, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post_box {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

/* line 76, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post_box img {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 87, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.news_post_box_date {
  background-color: #203e38;
  width: 70px;
  height: 64px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
}

/* line 104, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact {
  width: 100%;
  background-color: #25333c;
}

/* line 109, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box {
  padding-top: 60px;
  position: relative;
  border-top: 7px solid #18cfab;
}

/* line 113, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(1) .in-border {
  background-image: url("../img/fun-bag.png");
}

/* line 116, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(2) .in-border {
  background-image: url("../img/fun-user.png");
}

/* line 119, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(3) .in-border {
  background-image: url("../img/fun-basket.png");
}

/* line 122, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(4) .in-border {
  background-image: url("../img/fun-place.png");
}

/* line 127, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box .ex-border {
  padding-top: 30px;
  width: 170px;
  height: 170px;
  border: 2px solid #18cfab;
  border-radius: 50%;
}

/* line 135, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box .in-border {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: #18cfab;
  background-repeat: no-repeat;
  background-position: center 40px;
}

/* line 147, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(odd) {
  color: #18cfab;
}

/* line 151, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(even) {
  background-color: #18cfab;
  border-top: 7px solid #25333c;
}

/* line 154, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(even) .facts {
  color: #25333c;
}

/* line 157, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(even) .ex-border {
  border-color: #1c2a33;
}

/* line 160, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box:nth-child(even) .in-border {
  background-color: #1c2a33;
}

/* line 165, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box .quantity {
  position: absolute;
  bottom: 15px;
  text-align: center;
}

/* line 171, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box .number {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 36px;
  text-align: center;
}

/* line 179, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
.fun-fact .box .facts {
  font-size: 18px;
  font-weight: lighter;
}

@media (max-width: 992px) {
  /* line 179, E:/Mary/html/landing/First-landing/scss/_breaking-news.scss */
  .fun-fact .box .facts {
    font-size: 14px;
  }
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.our-pricing-table {
  padding: 120px 0 100px 0;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
  .our-pricing-table {
    padding: 50px 0 50px 0;
  }
}

/* line 8, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column {
  background-color: #f8fcfe;
  width: 25%;
  text-align: center;
  text-transform: capitalize;
  list-style: none;
  padding: 0;
}

@media (max-width: 920px) {
  /* line 8, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
  .pricing_column {
    width: 50%;
  }
}

/* line 18, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 4px #e7a61a;
  z-index: 3;
}

/* line 22, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column:hover .pricing_title {
  color: #18cfab;
}

/* line 26, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column:hover .btn {
  color: #ffffff;
  background-color: #18cfab;
}

/* line 30, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column:hover .price {
  background-color: #18cfab;
}

/* line 35, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column li {
  border: 1px solid #f8fcfe;
  min-height: 48px;
  font-size: 14px;
  padding: 23px 5px 12px 5px;
}

/* line 42, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column .price {
  background-color: #2e4a5b;
  min-height: 108px;
  color: #ffffff;
  font-size: 39px;
  font-weight: bold;
}

/* line 48, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column .price span {
  font-size: 14px;
  font-weight: lighter;
  text-transform: capitalize;
}

/* line 55, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column .btn {
  background-color: #2e4a5b;
  padding: 26px 5px 28px 5px;
}

/* line 59, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_column .btn-price {
  margin: 10px 5px 10px 5px;
}

/* line 64, E:/Mary/html/landing/First-landing/scss/_our-prising-table.scss */
.pricing_title {
  min-height: 60px;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say {
  width: 100%;
  background-color: #2e404d;
  padding: 120px 0 100px 0;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
  .what-people-say {
    padding: 50px 0;
  }
}

/* line 9, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say h2 {
  color: #ffffff;
}

/* line 12, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say .sign {
  align-items: center;
  margin-bottom: 45px;
}

/* line 16, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say .response {
  line-height: 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #6a7278;
  text-align: center;
}

/* line 23, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say .name {
  text-transform: uppercase;
  color: #18cfab;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 0 6px 0;
}

/* line 30, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say .position {
  color: #ffffff;
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 26px;
}

/* line 36, E:/Mary/html/landing/First-landing/scss/_what-people-say.scss */
.what-people-say .photo {
  height: 165px;
  width: 165px;
  border: 3px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgba(25, 232, 198, 0.2);
  overflow: hidden;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team {
  padding-top: 120px;
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
  .meet-our-team {
    padding: 50px 0 50px 0;
  }
  /* line 6, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
  .meet-our-team .team {
    margin-bottom: 10px;
  }
}

/* line 11, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team h2 {
  text-transform: capitalize;
  color: #4e4e4e;
}

/* line 15, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .team {
  background-color: #dae9e6;
}

/* line 17, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .team:hover {
  cursor: pointer;
  background-color: #717171;
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .team:hover .info {
  background-color: #18cfab;
}

/* line 23, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .team:hover .person_responsive {
  color: white !important;
}

/* line 28, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .people_picture {
  height: 228px;
  overflow: hidden;
  position: relative;
  padding-top: 50%;
}

/* line 33, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .people_picture img {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 45, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info {
  background-color: #2e4a5b;
  min-height: 142px;
}

/* line 49, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .person {
  min-height: 74px;
}

/* line 51, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .person_name {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 0 24px;
}

/* line 58, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .person_responsive {
  color: #18cfab;
  font-size: 13px;
  font-weight: lighter;
  text-transform: capitalize;
  padding: 14px 0 20px 24px;
}

/* line 67, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .links {
  min-height: 65px;
  display: flex;
  flex-direction: row;
  color: white;
}

/* line 72, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .links .link {
  width: 25%;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 79, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .links .link:last-child {
  border-right: none;
}

/* line 82, E:/Mary/html/landing/First-landing/scss/_meet-our-team.scss */
.meet-our-team .info .links .link:hover {
  background-color: #233641;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design {
  background-color: #233641;
  background-image: url("../img/lap-top-design.png");
  background-repeat: no-repeat;
  background-position: left 440px;
  width: 100%;
  padding-top: 128px;
  padding-bottom: 215px;
}

@media (max-width: 992px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
  .creative-design {
    padding: 50px 0 50px 0;
  }
}

/* line 13, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design .design-title {
  margin-bottom: 110px;
}

/* line 15, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design .design-title p {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 46px;
  font-weight: bold;
}

@media (max-width: 992px) {
  /* line 15, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
  .creative-design .design-title p {
    font-size: 32px;
  }
}

/* line 25, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design .design-title p span {
  color: #18cfab;
  font-size: 40px;
  font-weight: normal;
}

@media (max-width: 992px) {
  /* line 25, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
  .creative-design .design-title p span {
    font-size: 26px;
  }
}

/* line 36, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design ul {
  margin-bottom: 70px;
}

/* line 38, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design ul li {
  position: relative;
  font-size: 14px;
  font-weight: lighter;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 10px;
}

/* line 48, E:/Mary/html/landing/First-landing/scss/_creative-design.scss */
.creative-design .btn {
  margin-left: 10px;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch {
  background-color: white;
  padding: 130px 0;
}

@media (max-width: 768px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
  .keep-in-touch {
    padding: 50px 0;
  }
}

/* line 9, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch .map {
  float: right;
  max-width: 50;
}

/* line 15, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch .contact_title h2 {
  color: #4e4e4e;
  font-weight: normal;
  padding-top: 0;
  text-align: center;
}

/* line 21, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch .contact_title hr {
  background-position: center 0;
}

/* line 25, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch .contact .btn {
  width: 100%;
  border-top: none;
  text-transform: uppercase;
  box-shadow: 0 10px 0 0 #08bf9b;
}

/* line 32, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch input {
  padding-left: 10px;
  border: 1px solid yellow;
  min-height: 54px;
  width: 100%;
  margin-bottom: 12px;
}

/* line 40, E:/Mary/html/landing/First-landing/scss/_keep-in-touch.scss */
.keep-in-touch textarea {
  padding-left: 10px;
  border: 1px solid yellow;
  height: 184px;
  width: 100%;
}

/* line 1, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer {
  background-color: #1c2b33;
  width: 100%;
  padding-top: 130px;
}

/* line 6, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .footer-bottom {
  background-color: #22353f;
  margin-top: 126px;
  padding: 45px 0;
  text-align: center;
  color: #71777a;
  text-transform: capitalize;
}

/* line 13, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .footer-bottom span {
  color: #18cfab;
}

/* line 18, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .feed {
  overflow: hidden;
}

/* line 20, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .feed img {
  margin-bottom: 10px;
}

/* line 22, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .feed img:nth-child(odd) {
  margin-right: 10px;
}

@media (min-width: 768px) {
  /* line 28, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .newsletter-xs {
    display: none;
  }
}

/* line 33, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col {
  color: #b2b2b2;
}

/* line 36, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col hr {
  color: white;
}

/* line 40, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .footer-ham {
  color: white;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 34px;
}

/* line 50, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col span {
  color: #18cfab;
  font-weight: bold;
}

/* line 55, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col h3 {
  color: white;
  text-transform: uppercase;
  padding-top: 14px;
  margin-bottom: 54px;
}

/* line 63, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .content p {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-bottom: 20px;
}

/* line 72, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .office {
  margin-bottom: 38px;
}

/* line 76, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts {
  margin-bottom: 34px;
}

/* line 78, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts:not(:last-child) {
  border-bottom: 1px solid #294453;
}

/* line 81, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts .img-post {
  width: 75px;
  float: left;
}

/* line 84, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts .img-post img {
  width: 100%;
}

/* line 88, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts .post {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 32px;
  margin-left: 95px;
}

/* line 95, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts .post_title {
  text-transform: uppercase;
}

/* line 98, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts .post_content {
  color: #b2b2b2;
  font-size: 14px;
  line-height: 22px;
}

/* line 104, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .posts .post_date {
  font-weight: lighter;
}

/* line 109, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .col .active {
  color: #18cfab;
}

/* line 114, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .tags {
  padding-bottom: 22px;
  border-bottom: 1px solid #294453;
  margin-bottom: 30px;
}

/* line 119, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .tags .tag {
  border: 1px solid white;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 10px 10px;
}

/* line 128, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .news {
  color: white;
}

/* line 130, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .news_title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* line 135, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .news_content {
  margin-bottom: 22px;
}

/* line 141, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .subscribe_input {
  margin-right: 40px;
}

/* line 143, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .subscribe_input input {
  width: 100%;
  background-color: #22353f;
  padding: 16px 12px 14px 12px;
  border: none;
  color: white;
}

/* line 152, E:/Mary/html/landing/First-landing/scss/_footer.scss */
.footer .subscribe_btn {
  color: #18cfab;
  text-transform: uppercase;
  background-color: #294453;
  text-align: center;
  width: 40px;
  line-height: 54px;
  float: right;
}

@media (max-width: 768px) {
  /* line 1, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer {
    padding-top: 50px;
  }
  /* line 165, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .news-md {
    display: none;
  }
  /* line 168, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer p {
    font-size: 10px;
    margin-bottom: 0;
  }
  /* line 172, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .footer-bottom {
    margin-top: 40px;
    padding: 25px 0;
  }
  /* line 178, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .feed img:nth-child(odd) {
    margin-right: 5px;
  }
  /* line 183, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .tag {
    flex-wrap: nowrap;
    width: 50%;
    margin-right: 0 !important;
  }
  /* line 189, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .col h3 {
    margin-bottom: 30px;
  }
  /* line 192, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .col .posts {
    margin-bottom: 20px;
  }
  /* line 194, E:/Mary/html/landing/First-landing/scss/_footer.scss */
  .footer .col .posts .post {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=../css/general.map */