.amazing-features {
  padding-top: 120px;
  @media (max-width: 992px) {
    padding: 70px 0 50px 0;
  }
  h2 {
    color: $brown-gray;
  }
}

.feature {
  margin-bottom: 75px;
  @media (max-width: 992px) {
    margin-bottom: 30px;
  }
  &_desc {
    text-align: justify;
    @media (max-width: 992px) {
      font-size: 15px;
    }
  }
  &_top-title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  &_icon {
    float: left;
  }
  &_title {
    margin: 0 0 0 20px;
    &:hover {
      color: $active-color;
      cursor: default;
    }
  }
}



