html,body {
  font-family: 'Montserrat', sans-serif;
}

.active-color {
  color: $active-color;
}


h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: $gray-dark;
  @media (max-width: 992px) {
    font-size: 14px;
  }
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 992px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.box {
  width: 25%;
  min-height: 365px;
  text-align: center;
  @media (max-width: 992px) {
    width: 50%;
    min-height: 200px;
  }
}

.btn {
  font-size: 15px;
  min-width: 165px;
  border: none;
  border-top: 4px solid $white !important;
  background-color: $active-color;
  color: $white;
  padding: 26px 5px 28px 5px;
  text-align: center;
  &:hover {
    background-color: darken($active-color,15%);
  }
  @media (max-width: 768px) {
    font-size: 12px;
    min-width: 120px;
    padding: 15px 5px 15px 5px;
  }

}
.btn.btn-secondary {
  background-color: $blue;
  color: $white;
  @media (max-width: 768px) {
    font-size: 12px;
  }
  &:hover {
    background-color: darken($blue,15%);
  }
}



hr {
  background-image: url(../img/double-line.png);
  background-repeat: no-repeat;
  background-position: center 0;

  height: 5px;
  margin-bottom: 65px;
  border: none;
  @media (max-width: 992px) {
    margin-bottom: 30px;
  }
}

.styled-list {
  list-style: none;
  li {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: -40px;
      margin: auto;
      height: 24px;
      width: 24px;
      background-image: url("../img/bird-design.png");
      background-repeat: no-repeat;
      background-position: center;

    }
  }
}