.creative-design {
  background-color: #233641;
  background-image: url($img-path + "lap-top-design.png");
  background-repeat: no-repeat;
  background-position: left 440px;
  width: 100%;
  padding-top: 128px;
  padding-bottom: 215px;
  @media (max-width: 992px) {
    padding: 50px 0 50px 0;
  }

  .design-title {
    margin-bottom: 110px;
    p {
      text-align: center;
      text-transform: uppercase;
      color: $white;
      font-size: 46px;
      font-weight: bold;
      @media (max-width: 992px) {
        font-size: 32px;
      }

      span {
        color: $active-color;
        font-size: 40px;
        font-weight: normal;
        @media (max-width: 992px) {
          font-size: 26px;
        }
      }
    }
  }

  ul {
    margin-bottom: 70px;
    li {
      position: relative;
      font-size: 14px;
      font-weight: lighter;
      text-transform: capitalize;
      color: $white;
      margin-bottom: 10px;
    }
  }

  .btn {
    margin-left: 10px;
  }
}