.first-screen {
  background-image: url("../img/first_screen_bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 120px;
  @media (max-width: 992px) {
    padding-top: 70px;
  }

  h1 {
    text-transform: uppercase;
    color: $white;
    font-size: 74px;
    font-weight: bold;
    @media (max-width: 992px) {
      font-size: 32px;
    }
  }
  .top-screen {
    text-transform: uppercase;
    color: $white;
    font-size: 30px;
    @media (max-width: 992px) {
      font-size: 18px;
    }
  }
  .bottom-screen {
    text-transform: capitalize;
    color: $white;
    font-size: 29px;
    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  .buttons {
    font-size: 0;
    .btn {
      margin: 0 15px;
      @media (max-width: 992px) {
        margin-bottom: 10px;
      }

    }
  }
}

.company-features {
  width: 100%;
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    .box {
      padding: 70px 15px 25px 15px!important;
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
      }
      &_title {
        font-size: 16px;
      }
    }
  }
  .box {
    padding: 100px 15px 50px 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-top: 4px solid $active-color;
    color: $active-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: $dark-blue;
    background-repeat: no-repeat;
    background-position: center 110px;

    &_icon {
      height: 100px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }
    &:nth-child(even) {
      background-color: $active-color;
      border-color: $white;
      color: $white;
    }

    .icon-touch {
      background-image: url("../img/icon-touch.png");
    }
    .icon-diamond {
      background-image: url("../img/icon-diamond.png");
    }
    .icon-bulb {
      background-image: url("../img/icon-bulb.png");
    }
    .icon-device {
      background-image: url("../img/icon-device.png");
    }
  }
}

//$img-path: "../img/";