.keep-in-touch {
  background-color: white;
  padding: 130px 0;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  .map {
    float: right;
    max-width: 50;
  }
  .contact {
    &_title {
      h2 {
        color: $brown-gray;
        font-weight: normal;
        padding-top: 0;
        text-align: center;
      }
      hr {
        background-position: center 0;
      }
    }
    .btn {
      width: 100%;
      border-top: none;
      text-transform: uppercase;
      box-shadow: 0 10px 0 0 rgba(8,191,155,1);
    }
  }
  input {
    padding-left: 10px;
    border: 1px solid yellow;
    min-height: 54px;
    width: 100%;
    margin-bottom: 12px;
  }

  textarea {
    padding-left: 10px;
    border: 1px solid yellow;
    height: 184px;
    width: 100%;
  }
}