.our-amazing-work {
  background-color: $milk-white;
  padding: 120px 0 100px 0;
  @media (max-width: 992px) {
    padding: 50px 0;
    .pfo_card {
      width: 50%;
    }
  }
  &._title {
    margin-bottom: 25px;
    h2 {
      text-transform: capitalize;
    }
  }

  .tab {
    margin-bottom: 92px;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
    .tablinks {
      height: 58px;
      min-width: 74px;
      text-transform: capitalize;
      border: 1px solid #ebebeb;
      background-color: $milk-white;
      @media (max-width: 992px) {
        height: 40px;
        font-size: 12px;
      }
      &.active {
        border-top: 2px solid $active-color;
      }
    }
  }

  .works {
    width: 100%;
    margin-bottom: 70px;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
    .work {
      height: 208px;
      width: 25%;
      overflow: hidden;
      position: relative;
      padding-top: 50%;
      img {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 50%;
        bottom: 0;
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media (max-width: 992px) {
        height: 150px;
        width: 50%;
      }

      @media (max-width: 576px) {
        width: 100%;
      }

      &:hover {
        background-color: $white !important;
        cursor: pointer;
        box-shadow: 0px -4px 0px 0px rgba(8, 245, 233, 0.59);
      }
    }

  }
  .btn-work {
    text-transform: uppercase;
    font-weight: bold;
  }
}


.pfo { // portfolio
  margin-bottom: 40px;
  &_card {
    float: left;
    width: 25%;
    position: relative;
    &_img {
      padding-top: 73.4254%;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        z-index: 2;
        top: 50%;
        bottom: 0;
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 210px;
      }
    }
    &_hover-box {
      display: none; // temp
      background: $white;
      border-top: 4px solid $active-color;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
    }
    &:hover {
      .pfo_card {
        &_hover-box {
          display: flex;
        }
      }
    }
    &_icons {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $active-color;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          background-color: $active-color;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
      .icon-share {
        background-image: url("../img/icon-share.png");
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          background-image: url("../img/icon-share-active.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .icon-search {
        background-image: url("../img/icon-search.png");
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          background-image: url("../img/icon-search-active.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    &_title {
      text-align: center;
      color: $active-color;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    &_category {
      color: $gray;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }
  }

}

