$gray-dark: #717171;
$gray-light: #777777;
$gray: #3c3c3c;
$white: #ffffff;
$active-color: #18cfab !default;
$dark-blue: #1c2a33;
$blue: #00cbf6;
$brown-gray: #4e4e4e;
$black-blue: #090f14;
$purple: #9c5da5;
$sky-blue: #11b0de;
$peach: #d67f7f;
$grass-green: #20bc9d;
$mustard-yellow: #bb8a36;
$milk-white: #f8fcfe;

$img-path: "../img/";